//
//  Debug.xcconfig
//  MyApp
//
//  Created by Tom Baranes on 20/11/2019.
//  Copyright © 2019 Atelier Socle. All rights reserved.
//

//// Common Configuration
#include "config/tvOS/xcconfig/Common.xcconfig"

/// App target bundle identifier
AS_BUNDLE_IDENTIFIER = com.myApp.debug.tvos
/// App Name
AS_APP_NAME = MyApp Debug
/// ProjectEnvironment
AS_APP_ENVIRONMENT = Debug
/// App Icon
AS_APP_ICON = AppIcon
