//
//  Debug.xcconfig
//  MyApp
//
//  Created by Tom Baranes on 20/11/2019.
//  Copyright © 2019 Atelier Socle. All rights reserved.
//

//// Common Configuration
#include "config/iOS/xcconfig/Common.xcconfig"

/// App target bundle identifier
AS_BUNDLE_IDENTIFIER = com.myApp.beta.ios
/// Notification Service target bundle identifier
AS_BUNDLE_ID_NOTIFSERV = com.myApp.beta.ios.notificationservice
/// Notification Content target bundle identifier
AS_BUNDLE_ID_NOTIFCONTENT = com.myApp.beta.ios.notificationcontent
/// WatchKit App target bundle identifier
AS_WKAPP_BUNDLE_IDENTIFIER = com.myApp.beta.ios.watchkitapp
/// WatchKit Extension target bundle identifier
AS_WKEXT_BUNDLE_IDENTIFIER = com.myApp.beta.ios.watchkitapp.watchkkitextension

/// App Name
AS_APP_NAME = MyApp Beta
/// App Icon
AS_APP_ICON = AppIcon Beta
/// ProjectEnvironment
AS_APP_ENVIRONMENT = Beta
